.navigation-bar img {
  width: 180px;
  position: relative;
}
.navigation-bar{
  z-index: 10000;
}
.sMain {
 z-index:0;
}
.mobileview {
  display: none;
}

nav {
  left: -10px;
  position: relative;
}

.navigation-bar {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0px;
  transition: 0.15s ease-in-out;
  z-index: 1000;
  align-items: center;
  box-shadow: 0 0 8px black;
  height: 22vh;
background-color: rgb(242, 243, 244);
  justify-content: space-between;
}
.routes {
  top: 10em;
  z-index: 100;
  position: relative;
}
nav ul li {
  list-style: none;
  text-decoration: none;
  font-weight: 600;

  font-size: large;
}
.ma ul li a{
  color: white;
  text-decoration: none;
  transition: 0.15s ease-in-out;
}
.mo ul li a {
  text-decoration: none;
  color: rgb(96, 100, 60);
  transition: 0.15s ease-in-out;
}
.downn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  top: 2px;
  z-index: 100;
  
}
.ju{
  background-color: black;
}
.downn:hover ul {
  box-shadow: 0 0 4px rgb(105, 109, 57);
}
.downn ul {
  background-color: rgb(187, 178, 130);
  position: absolute;
  top: 2.3em;
  transition: 0.5s ease-in-out;
  z-index: 1000;
  gap: 20px;
  display: grid;
  
  grid-template-columns: repeat(3, auto);
  flex-direction: column;
}

.downn ul li {
  z-index: 1000;
  font-size: smaller;
  display: none;
  padding: 5px;
  transition: 0.15s ease-in-out;
}
.downn ul li:hover {
  transform: scale(1.1);
  color:rgb(82, 82, 70);
  cursor: pointer;
}
.downn img {
  position: relative;
  top: 1px;
  transition: 0.25s ease-in-out;
  width: 20px;
  z-index: 0;
}
.downn img:hover {
  cursor: pointer;
  z-index: 0;
  transform: rotate(180deg);
}
.downn:hover ul li {
  display: block;
  z-index: 10001;
}

nav ul li a:hover {
  text-shadow: 0 0 10px rgb(85, 96, 42);
}
nav ul {
  display: flex;
  gap: 50px;
  text-decoration: none;
}
@media (max-width: 900px) {
  .mobileview {
    display: flex;
    cursor: pointer;
  }
  .mob-nav {
    position: absolute;
    left: 160px;
    top: 70px;
    cursor: pointer;
    box-shadow: 0 0 10px black;
    width: 10em;
    display: flex;
    gap: 15px;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    height: 40vh;
    background-color: rgb(169, 153, 133);
    animation-name: fromtoptobottom;
    animation-duration: 1s;
    animation-iteration-count: initial;
    animation-direction: normal;
    animation-play-state: running;
  }
  
  .mob-nav li a {
    text-align: center;
    position: relative;
    left: -15px;
    top: 7px;
    font-weight: 600;
    transition: 0.15s ease-in-out;
   color: white;
    text-decoration: none;
  }
  .mob-nav li a:hover {
    text-shadow: 0 0 10px rgb(85, 96, 42);
    font-size: large;
  }
  @keyframes fromtoptobottom {
    from {
      transform: translateY(-100%);
    }
  }
  .mobileview img {
    left: -20px;
    position: relative;
  }
  nav {
    display: none;
  }
  .mob-nav{
height: 32vh;
  }
}
@media (max-width: 450px) {
  .mob-nav {
    height: 32.5vh;
    position: absolute;
    left: 105px;
    top: 100px;
  }
  .routes {
    top: 13em;
    z-index: 100;
    position: relative;
  }
  .mob-nav li a {
    top: 13px;
    position: relative;
  }
}
